* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-weight: 400;
}

header {
  font-size: 14px;
  background: #0c71c3;
  color: white;
  height: 50px;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
}

.header-left > div {
  line-height: 50px;
}

#top-contact {
  padding-right: 10px;
}

#top-email {
  padding: 0 10px;
}

#top-location {
  padding-left: 10px;
}

.social-icons {
  list-style: none;
  display: flex;
}

.social-icons li {
  padding: 10px;
  font-size: 18px;
}

.social-icons a {
  color: white;
}

nav {
  height: 100px;
  background: white;
  color: black;
  transition-timing-function: ease;
  box-shadow: 0px 13px 25px -12px rgba(0, 0, 0, 0.25);
}

.nav-link {
  color: #0098da;
  /* color: rgb(2, 147, 221);  #0293DD*/
  font-weight: 700;
}

.nav-link:hover {
  color: #0b61a9;
  text-decoration: underline;
  text-underline-offset: 10px;
}

nav img {
  width: 100%;
}

.dropdown:hover > .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  position: relative;
}

.dropdown-menu .dropdown-submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: -7px;
}

.dropdown-menu a {
  font-weight: 500;
}

.dropdown-menu > li:hover > .dropdown-submenu {
  display: block;
}

.nav-i-img {
  width: 100%;
  height: 84px;
  padding: 5px;
}

.nav-i-img img {
  height: 100%;
}

.title-wrapper {
  background-color: #0b61a9;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.title-wrapper .container {
  position: relative;
  color: white;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  padding: 150px 0 10px 0;
}

.content-wrapper {
  padding: 2rem 0;
}

.clinics-heading button {
  font-weight: 700;
  text-transform: uppercase;
}

.clinics-heading button:not(.collapsed) {
  background-color: #0b62a950;
  color: black;
  box-shadow: inset 0 black;
}

tbody p {
  font-weight: 600;
  text-transform: uppercase;
}

.clinics-list {
  list-style: decimal;
}

.clinics-list li {
  padding: 10px 12px;
  font-weight: 500;
}

footer {
  background: #022c46;
  color: white;
  margin-top: 20px;
}

.footer-top h3 {
  font-size: 20px;
  font-weight: 700;
}

.footer-top_left,
.footer-top_mid,
.footer-top_right {
  padding: 25px 10px;
}

.footer-top_mid_list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-top_mid li {
  padding: 0 10px 0 0;
  margin-top: 10px;
  flex: 1 1 33.33333%;
}

.footer-top_mid_list img {
  width: 100%;
}

.footer-top_right ul {
  list-style: none;
  padding: 5px 0;
}

.footer-top_right a {
  color: #94a3ac;
  text-decoration: none;
}

.footer-bottom {
  background: #012237;
  padding: 20px 0;
}

.footer-btm_wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-btm_right {
  display: flex;
}

.footer-btm_sm {
  display: flex;
}

.footer-btm_sm a {
  padding: 0 10px;
  color: white;
}

#back-to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background-color: #555;
  color: #fff;
  border-radius: 50%;
  z-index: 999;
  transition: 3s ease-in;
}

@media (max-width: 992px) {
  #navbarNav {
    background: rgba(255, 255, 255);
    padding-left: 15px;
  }

  .dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 2%;
    top: 100%;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .nav-link {
    font-size: 0.86rem;
  }
}
